@import '../../base'

.documentation-page
  display: flex
  padding-top: 25px
  max-width: 1440px
  width: 100%
  margin: 0 auto
  flex-direction: column-reverse

  @include media-breakpoint-up(sm)
    flex-direction: row

  .content-wrapper
    min-height: 100vh
    background: white
    flex: 1

    .content-body
      padding: 25px
      padding-top: 0
      min-height: 80vh
      max-width: 800px
      margin: 0 auto 25px

      .tags
        margin-top: 50px

    .pr-warning
      border-top: 1px solid #f0f0f0
      padding-top: 25px
      margin: 0 25px