@import '../../base'

.table-of-contents
  position: sticky
  display: flex
  flex-direction: column
  top: 45px
  width: 200px
  margin-top: 45px

  a
    color: #777
    line-height: 1.25em
    padding: 10px 0


    // &:visited
    //   color: #d7d7d7
