
// Colours
$ironstar-black: #151515
$ironstar-purple: #483BEC
$ironstar-light-grey: #878E95
$ironstar-grey: #69727A
$ironstar-dark-grey: #48545E
$ironstar-bg-secondary: #FBFBFB
$ironstar-separator: #CCCCCC
$ironstar-light-border: #252728
$ironstar-border: #DDDDDD
$ironstar-dark-border: #333
$ironstar-blue: #3F8BFD
$ironstar-ocean: #4264F5
$default-link-blue: #0054d0

$ironstar-large-heading: 4.8rem
$ironstar-medium-heading: 3.8rem
$ironstar-small-heading: 2rem
$ironstar-small-px: 1.5rem
$ironstar-small-paragraph: 1.7rem
$ironstar-paragraph: 1.8rem

$ironstar-header-size: 8rem

// Navbar hamburger styles
$hamburger-padding-x           : 15px !default
$hamburger-padding-y           : 0px !default
$hamburger-layer-width         : 20px !default
$hamburger-layer-height        : 2px !default
$hamburger-layer-spacing       : 3px !default
$hamburger-layer-color         : #fff !default
$hamburger-layer-border-radius : 4px !default
$hamburger-hover-opacity       : 0.7 !default
$hamburger-active-layer-color  : $hamburger-layer-color !default
$hamburger-active-hover-opacity: $hamburger-hover-opacity !default

// To use CSS filters as the hover effect instead of opacity,
// set $hamburger-hover-use-filter as true and
// change the value of $hamburger-hover-filter accordingly.
$hamburger-hover-use-filter   : false !default
$hamburger-hover-filter       : opacity(50%) !default
$hamburger-active-hover-filter: $hamburger-hover-filter !default