@import '../../base'

.navbar
  width: 100%
  line-height: 50px
  max-width: 1440px
  margin: 0 auto

  .container
    display: flex

    a
      color: inherit
      font-weight: bold

    .left
      > div
        padding: 0 10px

      .main-title
        img
          max-width: 225px
          padding-top: 15px

    .right
      display: flex
      justify-content: flex-end
      flex: 1

      > div
        padding: 0 10px

      .version-button
        a
          font-weight: normal
