@import '../../base'

.footer
  margin-top: 100px
  padding: 7rem 1rem
  font-size: 1.5rem
  line-height: 2.5rem

  a
    display: block
    color: inherit

  .copyright
    padding-top: 7rem

    a
      display: inline-block
      margin-left: 1rem
      text-decoration: underline

  @include media-breakpoint-down(sm)
    .resources, .social
      padding-bottom: 3rem
      border-bottom: 1px solid $ironstar-border
      line-height: 3.5rem

    .contact, .address
      padding-top: 3rem
      padding-bottom: 3rem
      border-bottom: 1px solid $ironstar-border
      line-height: 2.5rem

    .copyright
      padding-top: 3rem
      line-height: 2.5rem
