@import '../../base'

.footer
  margin-top: 100px
  padding: 4rem 1rem 2rem
  font-size: 1rem
  line-height: 1.5rem

  .container
    max-width: 600px
    margin: 0 auto
    padding: 5px

    a
      display: block
      color: inherit

    .brandmark
      text-align: center

    .contact
      display: flex
      margin-top: 3rem
      flex-direction: column
      text-align: center

      @include media-breakpoint-up(sm)
        flex-direction: row
        text-align: left

      .right
        text-align: center
        flex: 1
        margin-top: 20px

        @include media-breakpoint-up(sm)
          text-align: right
          margin-top: 0

    .social
      display: flex
      justify-content: center
      margin-top: 5rem

      a
        margin: 0 10px

    .copyright
      margin-top: 2rem
      text-align: center
      color: #808080

      a
        display: inline-block
        margin-left: 1rem
        text-decoration: underline

    .powered-by
      margin-top: 1rem
      text-align: center
      color: #808080

      a
        display: inline-block
        text-decoration: underline

    .policy-links
      font-weight: normal
      margin-top: 1.5rem
      text-align: center

      @include media-breakpoint-up(sm)
        text-align: right