@import '../../base'

.menu-dropdown
  position: relative

  button.trigger
    color: black
    border: 0
    background: transparent
    line-height: 1em
    cursor: pointer
    &:focus
      outline: none

    @include media-breakpoint-up(sm)
      color: white

  .menu-items
    position: absolute
    color: black
    left: -75px
    top: 0px

    @include media-breakpoint-up(sm)
      left: inherit
      top: inherit
      padding: 0 7px
      z-index: 1

    &.closed
      visibility: hidden
    &.open
      visibility: visible
      background-color: white